#forum{
	width:60%;
	max-width:850px;
}
#pages{
	max-height: calc(100vh - 280px);
	min-height: calc(100vh - 280px);
	overflow-y: auto;
}

#post__pages{
	max-height: calc(100vh - 374px);
	min-height: calc(100vh - 374px);
	overflow-y: auto;
}

#page__nav{
	margin-top: 20px;
}

#thread__link a{
	text-decoration: none;
}

#thread__link a:hover{
	color: hsl(204, 86%, 53%);
}

.usertile{
	min-width:22%;
	max-width: 22%;
}

.thread{
	margin-left: 15px;
	margin-right:15px;
}

.new__thread{
	margin:5px 0 5px;
}

.thread__box{
	margin:auto 2%;
}

.post__box{
	margin-top:20px;
}

.post__box textarea{
	height:100px;
	margin-bottom: 10px;
}

#post{
	height:150px;
}